*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.brand{
    color:rgb(204, 0, 0);
}
.box{
    width:820px !important;
    height: 48px;
}
.icon-effect:hover{
    background-color: rgb(224, 221, 221);
    border-radius: 50%;
}
.page-effect:hover{
    background-color: black;
    color:white !important;
    border-radius:50%;
    text-align: center;
}
.active{
    background-color: black;
    color:white !important;
    border-radius:50%;
    text-align: center;
}